body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
.calculator {
    width: 400px;
    background-color: #474748;
    padding: 20px;
    border: 2px solid #4f4141;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.button {
    background-color: #00aba3;
    float: left;
    width: 50px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
}

.operators {
    background-color: #84a634;
    float: left;
    width: 50px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
}

.button:hover {
    background-color: #9ead9f;
}

.operators:hover {
    background-color: #9ead9f;
}
